
{% extends 'webreporting/base.html' %}

{% block content %}

<div>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-5">Welcome to JobFinders</h1>
            <p class="lead">A comprehensive and ethical solution designed to address the challenges faced by individuals within the United Kingdom's benefit system.</p>
            <hr class="my-4">
            <p>Over the years, many have struggled with the intricacies of the benefit system, particularly when seeking employment. JobFinders has been meticulously developed to provide personalized and effective support to those in need, ensuring a more tailored and user-centric approach to job hunting.</p>
        </div>
    
        <section>
            <h2>Our Mission</h2>
            <p>JobFinders was created to revolutionize the way job seekers, especially those on benefits, find meaningful employment. Our mission is to empower individuals by providing a platform that understands and caters to their unique needs and interests. Unlike traditional support systems that offer generic assistance, JobFinders is designed to deliver personalized job search experiences.</p>
        </section>
    
        <section class="key-features">
            <h2>Key Features</h2>
            <ul>
                <li><strong>Personalized Job Listings:</strong> Our platform offers a wide range of job listings across various industries. We understand that every job seeker is different, and our advanced filtering options allow users to find jobs that match their specific requirements, such as wheelchair accessibility and other essential criteria.</li>
                <li><strong>Detailed Job Information:</strong> Each job listing on JobFinders comes with a comprehensive description and, where available, detailed information about pay and benefits. This ensures that job seekers have all the information they need to make informed decisions.</li>
                <li><strong>Seamless Application Process:</strong> When a user finds a job they are interested in, they can easily view the job description and proceed to the application page through our platform. This streamlined process simplifies the job application experience, saving time and reducing stress.</li>
                <li><strong>Benefits Calculator:</strong> One of the standout features of JobFinders is our benefits calculator. Users can input their prospective working hours and days to calculate their potential earnings. The calculator also factors in the ‘penalty’ deductions by Universal Credit, allowing users to see how their benefits might change with a new job. This feature helps users assess whether taking a particular job would be financially beneficial.</li>
                <li><strong>Inclusive for All Job Seekers:</strong> While our platform is tailored to support individuals on benefits, it is also open to anyone seeking employment or looking to change careers. Whether due to health conditions or other reasons leading to redundancy, JobFinders offers valuable resources and job listings for all.</li>
            </ul>
        </section>
    
        <section>
            <h2>Why JobFinders?</h2>
            <p>For years, individuals have navigated the complexities of the benefit system with varying degrees of success. JobFinders addresses the shortcomings of traditional support methods by offering a solution that is both ethical and effective. We believe in the potential of every individual and strive to provide the tools and resources necessary to achieve their employment goals.</p>
            <p>Our platform has been developed with a deep understanding of the challenges faced by job seekers. By integrating personalized support and advanced technology, we ensure that each user receives the attention and assistance they need to succeed in their job search.</p>
        </section>
    
        <section>
            <h2>Join the JobFinders Community</h2>
            <p>At JobFinders, we are committed to making a positive impact on the lives of job seekers. Join our community today and take the first step towards finding a job that aligns with your skills, interests, and needs. With JobFinders, the journey to meaningful employment is just a click away.</p>
            <p>Experience the future of job searching with JobFinders, where your aspirations meet our expertise.</p>
        </section>
    </div>


</div>

{% endblock %}